
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.page {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}


header, footer {
  padding: 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
}


.container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}
  
  .nav {
    flex-shrink: 0;

  
 }
 .aside {
    flex-grow: 0;
    
    
 }



nav, main, aside {
  padding: 20px;
}

nav {
  background-color: #2ecc71;
}

main {
  background-color: #ecf0f1;
}

aside {
  background-color: #e74c3c;  
}
